.entity-slider {
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 10;
  width: 250px;
}

.entity-slider label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  text-align: center;
}

.entity-slider input {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: var(--color-orange);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.entity-slider input:hover {
  opacity: 1;
}

.entity-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: whitesmoke;
  cursor: pointer;
}

.entity-slider input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: whitesmoke;
  cursor: pointer;
}
