.traits-radar-container {
  position: absolute;
  bottom: 10px;
  left: 10px;

  display: flex;
  gap: 20px;

  background: rgba(255, 255, 255, 0.85);
  padding: 10px;
  border-radius: 6px;

  font-family: sans-serif;
  font-size: 14px;

  z-index: 10;
}

.traits-radar-container {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: space-between;
}

.traits-radar-item {
  width: 180px;
  text-align: center;
}

.species-title {
  margin-bottom: 6px;
  text-transform: capitalize;
}
